@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;

/* 以下部分为 浅色模式 个人自定义样式 */
//.theme-mode-light

.home-wrapper .banner .banner-conent .features
  margin-top: 5.5rem !important;

//p
//  font-size 14px;

.content__default
  p, ul, ol, li
    line-height: 2.2;
    font-size: 14px;

// `>` 代码注释块
blockquote
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #999;
  background-color: rgba(27, 31, 35, 0.05);

// 导航栏左侧图片
.navbar .logo
  border-radius 50%;

// 首页右侧信息栏 title
.blogger .name
  text-align center !important;

// 首页右侧信息栏 头像
.avatar
  text-align center;
.avatar img
  border-radius 50%;
  width 64% !important;
  height 100%;
  margin 20px 10px 10px 10px;

// 首页右侧信息栏
.post-list .post
  border-radius 0.5rem;

// 文章部分
.content__default h2
  // H2 标题伪类
  &:before
    position: relative;
    left: -0.5rem;
    top: 1.8rem;
    display: block;
    width: 1px;
    height: 1.8rem;
    content: "";
    border-left: 5px solid #3178c6;
    border-radius: 3px 0 0 3px;

// H2 标题 前面的 # 定位
h2 .header-anchor
  position: relative;
  left: -0.6rem;

.content__default h3
  // H3 标题伪类
  &:before
    position: relative;
    left: -0.5rem;
    top: 1.5rem;
    bottom: 2px;
    display: block;
    width 1px;
    height: 1.3rem;
    content: "";
    border-left: 5px solid #e67e22;
    border-radius: 3px 0 0 3px;

// H3 标题 前面的 # 定位
h3 .header-anchor
  position: relative;
  left: -0.6rem;

// https://doc.xugaoyi.com/pages/d0d7eb/#%E4%BF%A1%E6%81%AF%E6%A1%86%E5%AE%B9%E5%99%A8
// 信息框容器样式
.custom-block
  border-radius 8px;

// 文章右侧导航栏 2 级标题
.level2 > a
  font-size 14px;
  font-weight 600;

// 文章右侧导航栏
.right-menu-wrapper .right-menu-content .right-menu-item
  border-top: none;
  border-right: none;
  padding-bottom: 0.5rem !important;

// 文章右侧导航栏 3 级标题
.level3 > a
  font-size 13px;

// 分类页面的分类栏
.main-wrapper .main-right >*
  width 280px !important;

@media (max-width: 719px) {
  .main-wrapper .main-right .card-box {
    margin: 0 auto !important;
    margin-bottom 0.9rem !important;
    border-radius: 0;
    width: 100% !important;
  }
}
